<%- include('header') -%>

	<a href="#" id="clockToggle">Clock</a>

	<div id="rate">
		<div class="click">Clicks last second: <span></span></div>
		<div class="key">Keypresses last second: <span></span></div>
	</div>

<%- include('footer') -%>